/* Contenedor principal */
.unique-principal-container {
  display: flex;
  flex-direction: column;
  background-color: #eaf7f8;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* Contenedor de solicitudes */
.unique-solicitudes-container {
  
  flex-grow: 1;
  padding: 20px;
  background-color: #eaf7f8;
  color: #213a57;
}

.unique-solicitudes-container h2 {
  color: #0b6477;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* Mensajes de carga o error */
.unique-solicitudes-container p {
  font-size: 1rem;
  color: #14919b;
}

.unique-error {
  color: #d9534f;
}

/* Tabla de solicitudes */
.unique-solicitudes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.unique-solicitudes-table th,
.unique-solicitudes-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.unique-solicitudes-table th {
  background-color: #0ad1c8;
  color: white;
}

.unique-solicitudes-table tbody tr:nth-child(even) {
  background-color: #f1f9f9;
}

/* Botones */
.unique-solicitudes-buttons {
  display: flex;
  gap: 10px;
}

.unique-approve,
.unique-reject {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.unique-approve {
  background-color: #80ed99;
  color: #213a57;
}

.unique-approve:hover {
  background-color: #45dfb1;
}

.unique-reject {
  background-color: #d9534f;
  color: white;
}

.unique-reject:hover {
  background-color: #c9302c;
}
